---
import LocationIcon from "../../icons/location.svg";
import "./Profile.css";
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";

type CollectionName = keyof import("astro:content").DataEntryMap;

type Props = {
  collectionName?: CollectionName;
  entryName?: string;
};

const { collectionName = "profile", entryName = "profile" } = Astro.props;

const entry = await getEntry(collectionName, entryName);

if (!entry) {
  throw new Error(`${entryName} entry not found`);
}

const { Content } = await render(entry);

const profile = entry.data;
---

<div
  class="mt-[5%] mb-[5%] flex flex-col items-center justify-evenly gap-5 lg:flex-row lg:gap-[5%]"
>
  <div
    class="aspect-square size-[50%] overflow-hidden rounded-[100%] bg-white shadow-lg duration-1100 hover:rotate-360 md:size-[30%]"
  >
    <Image
      src={profile.image.url}
      alt="Profile picture"
      class="size-full object-cover"
    />
  </div>
  <div class="flex flex-col content-center items-center">
    <div
      class="text-center text-[35pt] leading-13 font-normal text-(--dark-blue) max-lg:!text-[30pt]"
    >
      {profile.name.last}
      {profile.name.first}
    </div>
    <div
      class="flex gap-0.75 font-(family-name:--secondary-font) text-(--light-gray) duration-500 hover:scale-115"
    >
      <LocationIcon class="size-6" />
      <span class="text-[12pt]">
        {profile.location.city}, {profile.location.country}
      </span>
    </div>
  </div>
</div>

<div class="profile-description">
  <Content />
</div>
